Assn4/code/mydes
Assn4/code/main
Assn4/code/process_outputs
Assn4/code/foo
Assn4/code/gen_input_output_pairs
Assn4/code/.vscode/settings.json
Assn4/code/find_key
Assn4/code/analyse
Assn4/code/find_r6_key
Assn4/code/foofoo
Assn5/src/analyse_A
Assn5/src/analyse_encoding
Assn5/src/solver
.gitignore
Assn5/code/analyse_A
Assn5/code/analyse_encoding
Assn5/code/solver
Assn5/code/test_inputs.txt
Assn5/code/test_outputs.txt
